azure-data-factory/pipeline/forEach_test.json
{
	"name": "forEach_test",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@createArray(0,1)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "child_test",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"index": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": {
						"value": "test",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"annotations": []
	}
}