azure-data-factory/pipeline/pl_AXBI_entity.json
{
	"name": "pl_AXBI_entity",
	"properties": {
		"activities": [
			{
				"name": "Test for Duplicates",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Run AXBI Extraction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_ADLS_In_duplicatesTest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"primary_key_columns": {
							"value": "@pipeline().parameters.primary_key_columns",
							"type": "Expression"
						},
						"entity_id": {
							"value": "@pipeline().parameters.entity_id",
							"type": "Expression"
						},
						"adls_directory_path": {
							"value": "@pipeline().parameters.adls_directory_path",
							"type": "Expression"
						},
						"run_id": {
							"value": "@pipeline().parameters.run_id",
							"type": "Expression"
						},
						"adls_container_name": {
							"value": "@pipeline().parameters.adls_container_name",
							"type": "Expression"
						},
						"file_name": {
							"value": "@variables('adlsFileName')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Ingest Parquet into Synapse Base",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Test for Duplicates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_ADLS_SYNDW_ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"base_schema_name": {
							"value": "@pipeline().parameters.base_schema_name",
							"type": "Expression"
						},
						"base_table_name": {
							"value": "@pipeline().parameters.base_table_name",
							"type": "Expression"
						},
						"entity_id": {
							"value": "@pipeline().parameters.entity_id",
							"type": "Expression"
						},
						"directory_path": {
							"value": "@pipeline().parameters.adls_directory_path",
							"type": "Expression"
						},
						"run_id": {
							"value": "@pipeline().parameters.run_id",
							"type": "Expression"
						},
						"file_name": {
							"value": "@variables('adlsFileName')",
							"type": "Expression"
						},
						"adls_container_name": {
							"value": "@pipeline().parameters.adls_container_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Process Base",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Ingest Parquet into Synapse Base",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_SYNDW_Base_process",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"base_schema_name": {
							"value": "@pipeline().parameters.base_schema_name",
							"type": "Expression"
						},
						"base_table_name": {
							"value": "@pipeline().parameters.base_table_name",
							"type": "Expression"
						},
						"base_sproc_name": {
							"value": "@pipeline().parameters.base_sproc_name",
							"type": "Expression"
						},
						"entity_id": {
							"value": "@pipeline().parameters.entity_id",
							"type": "Expression"
						},
						"run_id": {
							"value": "@pipeline().parameters.run_id",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set ADLS File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "adlsFileName",
					"value": {
						"value": "@concat(\n    pipeline().parameters.base_table_name\n    ,'_'\n    ,formatDateTime(utcNow(),'yyyy_MM_dd_HH_mm_ss_fff')\n    ,'.parquet'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Run AXBI Extraction",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set ADLS File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_AXBI_ADLS_ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"axbi_database_name": {
							"value": "@pipeline().parameters.axbi_database_name",
							"type": "Expression"
						},
						"axbi_schema_name": {
							"value": "@pipeline().parameters.axbi_schema_name",
							"type": "Expression"
						},
						"axbi_table_name": {
							"value": "@pipeline().parameters.axbi_table_name",
							"type": "Expression"
						},
						"axbi_date_field_name": {
							"value": "@pipeline().parameters.axbi_date_field_name",
							"type": "Expression"
						},
						"adls_container_name": {
							"value": "@pipeline().parameters.adls_container_name",
							"type": "Expression"
						},
						"adls_directory_path": {
							"value": "@pipeline().parameters.adls_directory_path",
							"type": "Expression"
						},
						"file_name": {
							"value": "@variables('adlsFileName')",
							"type": "Expression"
						},
						"run_id": {
							"value": "@pipeline().parameters.run_id",
							"type": "Expression"
						},
						"entity_id": {
							"value": "@pipeline().parameters.entity_id",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"entity_name": {
				"type": "string"
			},
			"date": {
				"type": "string"
			},
			"run_id": {
				"type": "string"
			},
			"entity_id": {
				"type": "string"
			},
			"base_directory_path": {
				"type": "string"
			},
			"primary_key_columns": {
				"type": "string"
			},
			"adls_directory_path": {
				"type": "string"
			},
			"adls_container_name": {
				"type": "string"
			},
			"client_field": {
				"type": "string"
			},
			"extraction_type": {
				"type": "string"
			},
			"axbi_database_name": {
				"type": "string"
			},
			"axbi_schema_name": {
				"type": "string"
			},
			"axbi_table_name": {
				"type": "string"
			},
			"axbi_date_field_name": {
				"type": "string"
			},
			"base_schema_name": {
				"type": "string"
			},
			"base_table_name": {
				"type": "string"
			},
			"base_sproc_name": {
				"type": "string"
			}
		},
		"variables": {
			"adlsFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "20 Sources/AXBI"
		},
		"annotations": []
	}
}