azure-data-factory/pipeline/pl_ADLS_process_S4H.json
{
	"name": "pl_ADLS_process_S4H",
	"properties": {
		"activities": [
			{
				"name": "Execute ADLS Copy S4H",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Append t_applicationId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "If Client Field Required",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Append t_jobId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Append jobBy",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Append t_filePath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_ADLS_copy",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"source_adls_directory_path": {
							"value": "@pipeline().parameters.adls_directory_path_In",
							"type": "Expression"
						},
						"file_name": {
							"value": "@pipeline().parameters.adls_file_name",
							"type": "Expression"
						},
						"entity_id": {
							"value": "@pipeline().parameters.entity_id",
							"type": "Expression"
						},
						"run_id": {
							"value": "@pipeline().parameters.run_id",
							"type": "Expression"
						},
						"adls_container_name": {
							"value": "@pipeline().parameters.adls_container_name",
							"type": "Expression"
						},
						"target_adls_directory_path": {
							"value": "@pipeline().parameters.adls_directory_path_Out",
							"type": "Expression"
						},
						"additional_columns": {
							"value": "@string(variables('additionalColumns'))",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "If Client Field Required",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n    not(equals(pipeline().parameters.client_field,null)),\n    equals(pipeline().parameters.extraction_type,'ODP')\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Add Client Field",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "additionalColumns",
								"value": {
									"value": "@json(\n    concat(\n        '{\"name\":\"',\n        pipeline().parameters.client_field,\n        '\",\"value\":\"',\n        string(pipeline().parameters.client_id),\n        '\"'\n    )\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set t_filePath",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "t_filePath",
					"value": {
						"value": "@join(\n    createArray(\n        pipeline().parameters.adls_container_name,\n        pipeline().parameters.adls_directory_path_Out,\n        pipeline().parameters.adls_file_name\n    ),'/'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append t_filePath",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set t_filePath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "additionalColumns",
					"value": {
						"value": "@json(\n    concat(\n        '{\"name\":\"t_filePath\",\"value\":\"',\n        variables('t_filePath'),\n        '\"}'\n    )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append t_applicationId",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "additionalColumns",
					"value": {
						"value": "@json(\n    concat(\n        '{\"name\":\"t_applicationId\",\"value\":\"',\n        pipeline().parameters.adls_container_name,\n        '\"}'\n    )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append t_jobId",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "additionalColumns",
					"value": {
						"value": "@json(\n    concat(\n        '{\"name\":\"t_jobId\",\"value\":\"',\n        pipeline().RunId,\n        '\"}'\n    )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append jobBy",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "additionalColumns",
					"value": {
						"value": "@json(\n    concat(\n        '{\"name\":\"t_jobBy\",\"value\":\"',\n        pipeline().DataFactory,\n        '\"}'\n    )\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"entity_name": {
				"type": "string",
				"defaultValue": "I_Address"
			},
			"entity_id": {
				"type": "string",
				"defaultValue": "1"
			},
			"date": {
				"type": "string",
				"defaultValue": "2022/04/06"
			},
			"run_id": {
				"type": "string",
				"defaultValue": "2345"
			},
			"client_field": {
				"type": "string",
				"defaultValue": "MANDT"
			},
			"extraction_type": {
				"type": "string",
				"defaultValue": "ODP"
			},
			"adls_container_name": {
				"type": "string",
				"defaultValue": "s4h-cad-200"
			},
			"adls_directory_path_In": {
				"type": "string",
				"defaultValue": "In"
			},
			"adls_directory_path_Out": {
				"type": "string",
				"defaultValue": "Out"
			},
			"adls_file_name": {
				"type": "string",
				"defaultValue": "I_Address_2022_04_06"
			},
			"client_id": {
				"type": "int",
				"defaultValue": 200
			}
		},
		"variables": {
			"additionalColumns": {
				"type": "Array",
				"defaultValue": []
			},
			"t_filePath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "00 ELT/03 ADLS Transformation/S4H"
		},
		"annotations": []
	}
}