azure-data-factory/pipeline/pl_ADLS_In_Out_S4HTransformation_checkFileName.json
{
	"name": "pl_ADLS_In_Out_S4HTransformation_checkFileName",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "act_exec_sproc_set_batch_S4HCheckFileName_InProgress",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_parquet_file",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.adls_container_name",
								"type": "Expression"
							},
							"directory": {
								"value": "@join(\n    createArray(\n      pipeline().parameters.adls_directory_path\n     ,pipeline().parameters.source_layer\n     ,pipeline().parameters.date\n  ), '/'\n)",
								"type": "Expression"
							},
							"file": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If Single File in Folder Path",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\n    length(activity('Get Metadata').output.childItems),\n    1\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "exec_pl_adls_adls_proc_s4h",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ADLS_In_Out_S4HTransformation",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"adls_directory_In_path": {
										"value": "@join(\n    createArray(\n      pipeline().parameters.adls_directory_path\n     ,pipeline().parameters.source_layer\n     ,pipeline().parameters.date\n  ), '/'\n)",
										"type": "Expression"
									},
									"client_field": {
										"value": "@pipeline().parameters.client_field",
										"type": "Expression"
									},
									"file_name": {
										"value": "@activity('Get Metadata').output.childItems[0].name",
										"type": "Expression"
									},
									"entity_id": {
										"value": "@pipeline().parameters.entity_id",
										"type": "Expression"
									},
									"run_id": {
										"value": "@pipeline().parameters.run_id",
										"type": "Expression"
									},
									"extraction_type": {
										"value": "@pipeline().parameters.extraction_type",
										"type": "Expression"
									},
									"adls_container_name": {
										"value": "@pipeline().parameters.adls_container_name",
										"type": "Expression"
									},
									"adls_directory_Out_path": {
										"value": "@join(\n    createArray(\n      pipeline().parameters.adls_directory_path\n     ,pipeline().parameters.target_layer\n     ,pipeline().parameters.date\n  ), '/'\n)",
										"type": "Expression"
									},
									"batch_id": {
										"value": "@variables('batch_id')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "If File Not Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\n    length(activity('Get Metadata').output.childItems),\n   0\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "act_exec_sproc_log_exception_FileNotExists",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[log_exception]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@variables('batch_id')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"category": {
										"value": "FilePathNotFound",
										"type": "String"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"error_msg": {
										"value": {
											"value": "@join(\n    createArray(\n        join(\n            createArray(\n             'File Path Not Found: '\n             ,pipeline().parameters.adls_container_name\n             ,pipeline().parameters.adls_directory_path\n             ,pipeline().parameters.source_layer\n             ,pipeline().parameters.date\n          ), '/'\n        ), 'for Entity ', pipeline().parameters.extraction_name\n    )\n    ,\n' '\n)",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.run_id",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "act_exec_sproc_update_S4HCheckFileName_FileNotExists",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "act_exec_sproc_log_exception_FileNotExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_batch_status]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@variables('batch_id')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.run_id",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"activity": {
										"value": "S4HCheckFileName",
										"type": "String"
									},
									"end_date_time": {
										"value": {
											"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"status": {
										"value": "Failed",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "FileNotExists",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "act_exec_sproc_update_S4HCheckFileName_FileNotExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "FileNotExists",
								"errorCode": "check_s4h_file_error"
							}
						}
					]
				}
			},
			{
				"name": "If Throw More Than 1 File",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(\n     length(activity('Get Metadata').output.childItems),\n     2\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "act_exec_sproc_log_exception_MoreThan1File",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[log_exception]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@variables('batch_id')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"category": {
										"value": {
											"value": "MoreThan1File",
											"type": "Expression"
										},
										"type": "String"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"error_msg": {
										"value": {
											"value": "@join(\n    createArray(\n        join(\n            createArray(\n             'More then 1 file: '\n             ,pipeline().parameters.adls_container_name\n             ,pipeline().parameters.adls_directory_path\n             ,pipeline().parameters.source_layer\n             ,pipeline().parameters.date\n          ), '/'\n        ), 'for Entity ', pipeline().parameters.extraction_name\n    )\n    ,\n' '\n)",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.run_id",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "act_exec_sproc_update_S4HCheckFileName_MoreThan1File",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "act_exec_sproc_log_exception_MoreThan1File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_batch_status]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@variables('batch_id')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.run_id",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"activity": {
										"value": "S4HCheckFileName",
										"type": "String"
									},
									"end_date_time": {
										"value": {
											"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"status": {
										"value": "Failed",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "MoreThan1File",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "act_exec_sproc_update_S4HCheckFileName_MoreThan1File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "MoreThan1File",
								"errorCode": "check_s4h_file_error"
							}
						}
					]
				}
			},
			{
				"name": "act_exec_sproc_update_batch_S4HCheckFileName_Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "act_exec_sproc_log_exception_PathNotFound",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_batch_status]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"activity": {
							"value": "S4HCheckFileName",
							"type": "String"
						},
						"end_date_time": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"status": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "act_exec_sproc_log_exception_PathNotFound",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[log_exception]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"category": {
							"value": "PathNotFound",
							"type": "String"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"error_msg": {
							"value": {
								"value": "@join(\n    createArray(\n        join(\n            createArray(\n             'Path Not Found: '\n             ,pipeline().parameters.adls_container_name\n             ,pipeline().parameters.adls_directory_path\n             ,pipeline().parameters.source_layer\n             ,pipeline().parameters.date\n          ), '/'\n        ), 'for Entity ', pipeline().parameters.extraction_name\n    )\n    ,\n' '\n)",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "act_exec_sproc_set_batch_S4HCheckFileName_InProgress",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[set_batch]",
					"storedProcedureParameters": {
						"activity": {
							"value": "S4HCheckFileName",
							"type": "String"
						},
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"file_path": {
							"value": null,
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"size_bytes": {
							"value": null,
							"type": "Int64"
						},
						"source_layer": {
							"value": {
								"value": "@pipeline().parameters.source_layer",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "InProgress",
							"type": "String"
						},
						"target_layer": {
							"value": {
								"value": "@pipeline().parameters.target_layer",
								"type": "Expression"
							},
							"type": "String"
						},
						"start_date_time": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"extraction_type": {
				"type": "string"
			},
			"date": {
				"type": "string"
			},
			"base_schema_name": {
				"type": "string"
			},
			"base_table_name": {
				"type": "string"
			},
			"client_field": {
				"type": "string"
			},
			"entity_id": {
				"type": "string"
			},
			"run_id": {
				"type": "string"
			},
			"adls_container_name": {
				"type": "string"
			},
			"adls_directory_path": {
				"type": "string"
			},
			"extraction_name": {
				"type": "string"
			},
			"source_layer": {
				"type": "string"
			},
			"target_layer": {
				"type": "string"
			}
		},
		"variables": {
			"batch_id": {
				"type": "String",
				"defaultValue": "@guid()"
			}
		},
		"folder": {
			"name": "00 ELT/03 ADLS Transformation/S4H"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-25T15:25:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}