azure-data-factory/pipeline/pl_adls_syndw_generic_ingest_s4h_manual.json
{
	"name": "pl_adls_syndw_generic_ingest_s4h_manual",
	"properties": {
		"activities": [
			{
				"name": "act_lookup_BaseLayerControlTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_ingestion_control_table_s4h_manual",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_foreach_LoadDataBase",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_lookup_BaseLayerControlTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_lookup_BaseLayerControlTable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "act_copy_FileToStaging",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "IF EXISTS (SELECT * FROM dbo.sysobjects WHERE ID = OBJECT_ID(N'@{Concat(item().schema, '.', item().table, '_staging')}'))\nDROP TABLE @{Concat(item().schema, '.', item().table, '_staging')}",
										"type": "Expression"
									},
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_adls_s4h_data_files",
									"type": "DatasetReference",
									"parameters": {
										"file_path": {
											"value": "@item().file_path",
											"type": "Expression"
										},
										"file_type": {
											"value": "@item().file_type",
											"type": "Expression"
										},
										"date": {
											"value": "@pipeline().parameters.date",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_syndw_s4h_staging",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "act_sproc_LoadStagingToBaseLayer",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "act_copy_FileToStaging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@{Concat(item().schema, '.', item().sproc)}",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"t_applicationId": {
										"value": null,
										"type": "String"
									},
									"t_jobId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"t_lastDtm": {
										"value": {
											"value": "@formatDateTime(utcnow(),'yyyy/MM/dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"t_lastActionCd": {
										"value": "I",
										"type": "String"
									},
									"t_lastActionBy": {
										"value": "ADF",
										"type": "String"
									},
									"t_filePath": {
										"value": {
											"value": "@concat(item().file_path,formatDateTime(pipeline().parameters.date, 'yyyy'), '/', formatDateTime(pipeline().parameters.date, 'MM'), '/', formatDateTime(pipeline().parameters.date, 'dd'))",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_ws_xxxx_sls_x_euw_001__syndw_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"date": {
				"type": "string",
				"defaultValue": "2021/05/25"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-25T15:25:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}