azure-data-factory/pipeline/pl_ADLS_copy1.json
{
	"name": "pl_ADLS_copy1",
	"properties": {
		"activities": [
			{
				"name": "Copy from ADLS In to Out",
				"description": "",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"additionalColumns": {
							"type": "Expression",
							"value": "@json(variables('additional_columns'))"
						},
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.source_adls_directory_path",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_adls_parquet_file",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.adls_container_name",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.source_adls_directory_path",
								"type": "Expression"
							},
							"file": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							},
							"storageAccount": {
								"value": "@pipeline().globalParameters.storageAccountName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_file",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.adls_container_name",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.target_adls_directory_path",
								"type": "Expression"
							},
							"file": "*",
							"storageAccount": {
								"value": "@pipeline().globalParameters.storageAccountName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Update Batch Status Successful",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy from ADLS In to Out",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_batch_status]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"end_date_time": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"size_bytes": {
							"value": {
								"value": "@activity('Copy from ADLS In to Out').output.dataWritten",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"status": {
							"value": "Succeeded",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference",
					"parameters": {
						"sqlDb": {
							"value": "@pipeline().globalParameters.sqlDb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Update Batch Status Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log Exception",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_batch_status]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"end_date_time": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"status": {
							"value": "Failed",
							"type": "String"
						},
						"size_bytes": {
							"value": null,
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference",
					"parameters": {
						"sqlDb": {
							"value": "@pipeline().globalParameters.sqlDb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Log Exception",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy from ADLS In to Out",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[log_exception]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"category": {
							"value": "InternalError",
							"type": "String"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"error_msg": {
							"value": {
								"value": "@activity('Copy from ADLS In to Out').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference",
					"parameters": {
						"sqlDb": {
							"value": "@pipeline().globalParameters.sqlDb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Fail Copy",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Update Batch Status Failed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@concat(\n    'Failed to copy ADLS In to ADLS Out: ',\n    activity('Copy from ADLS In to Out').Error.Message\n)",
						"type": "Expression"
					},
					"errorCode": "500"
				}
			}
		],
		"parameters": {
			"source_adls_directory_path": {
				"type": "string",
				"defaultValue": "NULL/I_SalesOrderItemPricingElement_split/Theobald/Table/Full/In/2023/03/21"
			},
			"file_name": {
				"type": "string",
				"defaultValue": "I_SalesOrderItemPricingElement_split_2023_03_21_09_05_41_524*.parquet"
			},
			"entity_id": {
				"type": "string",
				"defaultValue": "900"
			},
			"run_id": {
				"type": "string",
				"defaultValue": "2286ccd5-7c50-4e4f-8dd4-d2b2264feb0f"
			},
			"adls_container_name": {
				"type": "string",
				"defaultValue": "s4h-caa-200"
			},
			"target_adls_directory_path": {
				"type": "string",
				"defaultValue": "NULL/I_SalesOrderItemPricingElement_split/Theobald/Table/Full/Out/2023/03/21"
			},
			"additional_columns": {
				"type": "string"
			}
		},
		"variables": {
			"batch_id": {
				"type": "String",
				"defaultValue": "@guid()"
			},
			"additional_columns": {
				"type": "String"
			}
		},
		"folder": {
			"name": "00 ELT/03 ADLS Transformation"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-25T15:25:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}