azure-data-factory/pipeline/pl_ADLS_ingestion_S4H.json
{
	"name": "pl_ADLS_ingestion_S4H",
	"properties": {
		"activities": [
			{
				"name": "If Run XU Extraction",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If empty run_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(\n    pipeline().parameters.required_activities,\n    'RunXUExtraction'\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set Timestamp from Parameter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "extraction_timestamp",
								"value": {
									"value": "@pipeline().parameters.skipped_activities.RunXUExtraction.output.timestamp",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set batch_id_RunXUExtraction from parameter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "batch_id_RunXUExtraction",
								"value": {
									"value": "@pipeline().parameters.skipped_activities.RunXUExtraction.batch_id",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Run XU Extraction",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set Run XU Extraction Batch",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(\n\tpipeline().globalParameters.XU_hostName\n\t,'/?name='\n\t,pipeline().parameters.extraction_name\n\t,'&source='\n\t,pipeline().globalParameters.XU_sourceName\n\t,'&destination='\n\t,pipeline().globalParameters.storageAccountName,'_',pipeline().globalParameters.S4H_systemID\n\t,'&wait=false'\n)",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "ir-WEXLEVAPP001",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET"
							}
						},
						{
							"name": "Set Timestamp Variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Run XU Extraction",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "extraction_timestamp",
								"value": {
									"value": "@activity('Run XU Extraction').output.response",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Run XU Extraction Batch",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[set_batch]",
								"storedProcedureParameters": {
									"activity": {
										"value": "RunXUExtraction",
										"type": "String"
									},
									"batch_id": {
										"value": {
											"value": "@variables('batch_id_RunXUExtraction')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"file_path": {
										"value": null,
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@variables('run_id')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"size_bytes": {
										"value": null,
										"type": "Int64"
									},
									"source_layer": {
										"value": {
											"value": "S4H",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "InProgress",
										"type": "String"
									},
									"target_layer": {
										"value": {
											"value": "In",
											"type": "Expression"
										},
										"type": "String"
									},
									"start_date_time": {
										"value": {
											"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update Run XU Extraction Batch Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Run XU Extraction",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_batch_status]",
								"storedProcedureParameters": {
									"end_date_time": {
										"value": {
											"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.run_id",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"size_bytes": {
										"value": null,
										"type": "Int64"
									},
									"status": {
										"value": "Failed",
										"type": "String"
									},
									"batch_id": {
										"value": {
											"value": "@variables('batch_id_RunXUExtraction')",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log Exception",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Update Run XU Extraction Batch Failed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[log_exception]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@variables('batch_id_RunXUExtraction')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"category": {
										"value": "FailedStartXUExtraction",
										"type": "String"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"error_msg": {
										"value": {
											"value": "@activity('Run XU Extraction').Error.Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.run_id",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Store Timestamp and File Name",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set S4H ADLS File Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_batch_status]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@variables('batch_id_RunXUExtraction')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.run_id",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"file_name": {
										"value": {
											"value": "@variables('adlsFileName')",
											"type": "Expression"
										},
										"type": "String"
									},
									"directory_path": {
										"value": {
											"value": "@pipeline().parameters.adls_directory_path",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": null,
										"type": "String"
									},
									"output": {
										"value": {
											"value": "@concat(\n    '{\"timestamp\":\"',\n    variables('extraction_timestamp'),\n    '\"}'\n)",
											"type": "Expression"
										},
										"type": "String"
									},
									"end_date_time": {
										"value": null
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set S4H ADLS File Name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Timestamp Variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "adlsFileName",
								"value": {
									"value": "@concat(\n    pipeline().parameters.extraction_name,\n    '_',\n    replace(replace(replace(variables('extraction_timestamp'),'-','_'),':','_'),'.','_'),\n    '.parquet'\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "If empty run_id",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(pipeline().parameters.run_id)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set run_id from parameter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "run_id",
								"value": {
									"value": "@pipeline().parameters.run_id",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set run_id from pipeline",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "run_id",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"extraction_name": {
				"type": "string"
			},
			"date": {
				"type": "string"
			},
			"run_id": {
				"type": "string"
			},
			"entity_id": {
				"type": "int"
			},
			"adls_directory_path": {
				"type": "string"
			},
			"required_activities": {
				"type": "array"
			},
			"batch_id": {
				"type": "string"
			},
			"skipped_activities": {
				"type": "object"
			},
			"adls_file_name": {
				"type": "string"
			}
		},
		"variables": {
			"extraction_timestamp": {
				"type": "String"
			},
			"extraction_status": {
				"type": "String"
			},
			"extraction_log": {
				"type": "String"
			},
			"batch_id_RunXUExtraction": {
				"type": "String",
				"defaultValue": "@guid()"
			},
			"adlsFileName": {
				"type": "String"
			},
			"run_id": {
				"type": "String"
			},
			"batch_id_CheckXUExtractionStatus": {
				"type": "String",
				"defaultValue": "@guid()"
			},
			"batch_id_StoreXUExtractionLog": {
				"type": "String",
				"defaultValue": "@guid()"
			}
		},
		"folder": {
			"name": "00 ELT/01 ADLS Ingestion/S4H"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-25T15:25:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}