azure-data-factory/pipeline/pl_adls_orchDb.json
{
	"name": "pl_adls_orchDb",
	"properties": {
		"activities": [
			{
				"name": "Update OrchDB Master Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Table name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "IF EXISTS (SELECT * FROM dbo.sysobjects WHERE ID = OBJECT_ID(N'[dbo].[@{ variables('table')}]'))\nTRUNCATE TABLE [dbo].[@{variables('table')}]",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_orchDB_csv",
						"type": "DatasetReference",
						"parameters": {
							"directory": "To Be Processed",
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							},
							"storageAccount": {
								"value": "@pipeline().globalParameters.synapseDatabaseName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_orchDB_table",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": {
								"value": "@variables('table')",
								"type": "Expression"
							},
							"sqlDb": {
								"value": "@pipeline().globalParameters.synapseDatabaseName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Table name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "table",
					"value": {
						"value": "@replace(pipeline().parameters.file_name, '.csv', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy to Processed Folder",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Update OrchDB Master Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_orchDB_csv",
						"type": "DatasetReference",
						"parameters": {
							"directory": "To Be Processed",
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							},
							"storageAccount": {
								"value": "@pipeline().globalParameters.synapseDatabaseName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_orchDB_csv",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@concat(\n    'Processed/'\n,   formatDateTime(utcnow(), 'yyyy/MM/dd')\n)",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							},
							"storageAccount": {
								"value": "@pipeline().globalParameters.synapseDatabaseName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete Original",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy to Processed Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_orchDB_csv",
						"type": "DatasetReference",
						"parameters": {
							"directory": "To Be Processed",
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							},
							"storageAccount": {
								"value": "@pipeline().globalParameters.synapseDatabaseName",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "stxxxxslsxeuw001",
							"type": "LinkedServiceReference",
							"parameters": {
								"storageAccount": "stxxxxslsdeuw001"
							}
						},
						"path": "utilities/logging"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"file_name": {
				"type": "string"
			}
		},
		"variables": {
			"table": {
				"type": "String"
			}
		},
		"annotations": []
	}
}