azure-data-factory/pipeline/pl_Base_ELT_delta_entity.json
{
	"name": "pl_Base_ELT_delta_entity",
	"properties": {
		"activities": [
			{
				"name": "Get Failed Extract",
				"description": "",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \ndbo.svf_get_failed_extract(@{pipeline().parameters.entity_id}) AS failed_extract",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_orch_db",
						"type": "DatasetReference",
						"parameters": {
							"sqlDb": {
								"value": "@pipeline().globalParameters.sqlDb",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set failed_extract",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Failed Extract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "failed_extract",
					"value": {
						"value": "@activity('Get Failed Extract').output.value[0].failed_extract",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If failed extract",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set failed_extract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\n    variables('failed_extract')\n    ,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Log Exception Failed Extract",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[log_exception]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": null,
										"type": "Guid"
									},
									"category": {
										"value": "InternalError",
										"type": "String"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"error_msg": {
										"value": {
											"value": "@concat('Failed extraction found for delta entity ('\n,pipeline().parameters.entity_id\n,').\nReset delta subscription and delete batches in orch db')",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.parent_run_id",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference",
								"parameters": {
									"sqlDb": {
										"value": "@pipeline().globalParameters.sqlDb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Fail Entity Pipeline Failed Extract",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Log Exception Failed Extract",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('Failed extraction found for delta entity ('\n,pipeline().parameters.entity_id\n,').\nReset delta subscription and delete batches in orch db')",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						}
					]
				}
			},
			{
				"name": "Get Delta Entity FileName Batch Activities",
				"description": "First ",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If failed extract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT entity_id,\n    entity_name,\n    layer_nk,\n    update_mode,\n    client_field,\n    extraction_type,\n    pk_field_names,\n    axbi_database_name,\n    axbi_schema_name,\n    base_table_name,\n    axbi_date_field_name,\n    adls_container_name,\n    adls_directory_path_In,\n    adls_directory_path_Out,\n    base_schema_name,\n    base_sproc_name,\n    file_name,\n    required_activities,\n    skipped_activities \nFROM [dbo].[get_scheduled_entity_batch_activities] (\n    @{pipeline().parameters.adhoc},\n    '@{pipeline().parameters.date}',\n    @{pipeline().parameters.rerun_successful_full_entities}\n)\nWHERE\n    @{pipeline().parameters.entity_filter}\n    AND\n    entity_id = @{pipeline().parameters.entity_id}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_orch_db",
						"type": "DatasetReference",
						"parameters": {
							"sqlDb": {
								"value": "@pipeline().globalParameters.sqlDb",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Process Each Delta Entity File Name",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set deltaEntityFileNameBatchActivities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('deltaEntityFileNameBatchActivities')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Execute ELT",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_Base_ELT_entity_v2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"entity_name": {
										"value": "@item().entity_name",
										"type": "Expression"
									},
									"entity_id": {
										"value": "@item().entity_id",
										"type": "Expression"
									},
									"date": {
										"value": "@pipeline().parameters.date",
										"type": "Expression"
									},
									"run_id": {
										"value": "@pipeline().parameters.parent_run_id",
										"type": "Expression"
									},
									"layer_nk": {
										"value": "@item().layer_nk",
										"type": "Expression"
									},
									"client_field": {
										"value": "@item().client_field",
										"type": "Expression"
									},
									"extraction_type": {
										"value": "@item().extraction_type",
										"type": "Expression"
									},
									"pk_field_names": {
										"value": "@item().pk_field_names",
										"type": "Expression"
									},
									"source_database_name": {
										"value": "@item().axbi_database_name",
										"type": "Expression"
									},
									"source_schema_name": {
										"value": "@item().axbi_schema_name",
										"type": "Expression"
									},
									"source_table_name": {
										"value": "@item().base_table_name",
										"type": "Expression"
									},
									"source_date_field_name": {
										"value": "@item().axbi_date_field_name",
										"type": "Expression"
									},
									"adls_container_name": {
										"value": "@item().adls_container_name",
										"type": "Expression"
									},
									"adls_directory_path_In": {
										"value": "@item().adls_directory_path_In",
										"type": "Expression"
									},
									"adls_directory_path_Out": {
										"value": "@item().adls_directory_path_Out",
										"type": "Expression"
									},
									"base_schema_name": {
										"value": "@item().base_schema_name",
										"type": "Expression"
									},
									"base_sproc_name": {
										"value": "@item().base_sproc_name",
										"type": "Expression"
									},
									"base_table_name": {
										"value": "@variables('deltaTableName')",
										"type": "Expression"
									},
									"required_activities": {
										"value": "@if(\n    empty(item().required_activities),\n    json('[]'),\n    json(item().required_activities)\n)",
										"type": "Expression"
									},
									"skipped_activities": {
										"value": "@if(\n    empty(item().skipped_activities),\n    null,\n    json(item().skipped_activities)\n)",
										"type": "Expression"
									},
									"file_name": {
										"value": "@item().file_name",
										"type": "Expression"
									},
									"update_mode": {
										"value": "@item().update_mode",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Log Exception ELT",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute ELT",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[log_exception]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": null,
										"type": "Guid"
									},
									"category": {
										"value": "InternalError",
										"type": "String"
									},
									"entity_id": {
										"value": {
											"value": "@item().entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"error_msg": {
										"value": {
											"value": "@activity('Execute ELT').Error.Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.parent_run_id",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference",
								"parameters": {
									"sqlDb": {
										"value": "@pipeline().globalParameters.sqlDb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Fail Entity Pipeline",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Log Exception ELT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "Pipeline 'Execute ELT' failed for entity @{item().entity_name}",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						},
						{
							"name": "Append Condition ProcessBase",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "requiresSynapseIngestion",
								"value": {
									"value": "@contains(\n    item().required_activities,\n    'ProcessBase'\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append Delta File",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Execute ELT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "deltaFiles",
								"value": {
									"value": "@activity('Execute ELT').output.pipelineReturnValue",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "If Required to Process Base",
				"description": "Process base in case one of the delta files required Synapse Base Ingestion or one of the delta files was not processed in base.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Process Each Delta Entity File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(\n    variables('requiresSynapseIngestion'),\n    true\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Process Synapse Base Procedure",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_SYNDW_Base_process",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"base_schema_name": {
										"value": "@pipeline().parameters.base_schema_name",
										"type": "Expression"
									},
									"base_table_name": {
										"value": "@pipeline().parameters.base_table_name",
										"type": "Expression"
									},
									"base_sproc_name": {
										"value": "@pipeline().parameters.base_sproc_name",
										"type": "Expression"
									},
									"entity_id": {
										"value": "@pipeline().parameters.entity_id",
										"type": "Expression"
									},
									"run_id": {
										"value": "@pipeline().parameters.parent_run_id",
										"type": "Expression"
									},
									"source_date_field_name": {
										"value": "@pipeline().parameters.source_date_field_name",
										"type": "Expression"
									},
									"deltaFiles": {
										"value": "@variables('deltaFiles')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set deltaEntityFileNameBatchActivities",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Delta Entity FileName Batch Activities",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Delta Table Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "deltaEntityFileNameBatchActivities",
					"value": {
						"value": "@activity('Get Delta Entity FileName Batch Activities').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Post Process Delta Entity",
				"description": "Copy the data into INTM for follow-up processing.\n\nTruncate the BASE delta table to indicate delta processing in base layer is successful.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If Required to Process Base",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[base_s4h_cax].[up_delta_postprocessing]",
					"storedProcedureParameters": {
						"source_schema": {
							"value": {
								"value": "@pipeline().parameters.base_schema_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"source_table": {
							"value": {
								"value": "@variables('deltaTableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"target_schema": {
							"value": "intm_s4h",
							"type": "String"
						},
						"target_table": {
							"value": {
								"value": "@variables('deltaTableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"t_jobBy": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"t_jobDtm": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy/MM/dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"t_jobId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"t_lastActionCd": {
							"value": "I",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_ws_xxxx_sls_x_euw_001__syndw_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference",
					"parameters": {
						"sqlPool": {
							"value": "@pipeline().globalParameters.synapseDatabaseName",
							"type": "Expression"
						},
						"synapseServer": {
							"value": "@pipeline().globalParameters.synapseServerName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set Delta Table Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "deltaTableName",
					"value": {
						"value": "@concat(\n    pipeline().parameters.base_table_name,\n    '_delta'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"adhoc": {
				"type": "int",
				"defaultValue": 1
			},
			"entity_filter": {
				"type": "string",
				"defaultValue": "file_name is not null"
			},
			"parent_run_id": {
				"type": "string"
			},
			"date": {
				"type": "string",
				"defaultValue": "2023/03/30"
			},
			"rerun_successful_full_entities": {
				"type": "int",
				"defaultValue": 0
			},
			"entity_id": {
				"type": "string",
				"defaultValue": "420"
			},
			"base_schema_name": {
				"type": "string",
				"defaultValue": "base_s4h_cax"
			},
			"base_table_name": {
				"type": "string",
				"defaultValue": "Z_C_VariantConfig_delta"
			},
			"base_sproc_name": {
				"type": "string",
				"defaultValue": "sp_load_Z_C_VariantConfig"
			},
			"source_date_field_name": {
				"type": "string"
			},
			"refresh_from_date": {
				"type": "string"
			}
		},
		"variables": {
			"deltaFiles": {
				"type": "Array"
			},
			"requiresSynapseIngestion": {
				"type": "Array"
			},
			"deltaEntityFileNameBatchActivities": {
				"type": "Array"
			},
			"failed_extract": {
				"type": "Integer",
				"defaultValue": 0
			},
			"deltaTableName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "00 ELT"
		},
		"annotations": []
	}
}