azure-data-factory/pipeline/pl_child_daily_etl_process.json
{
	"name": "pl_child_daily_etl_process",
	"properties": {
		"description": "Starts or Stops Azure VM",
		"activities": [
			{
				"name": "Process Synapse EDW",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process Synapse Intm",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_SYNDW_EDW_process_main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adhoc": {
							"value": "@pipeline().parameters.adhoc",
							"type": "Expression"
						},
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"date": {
							"value": "@pipeline().parameters.date",
							"type": "Expression"
						},
						"entity_filter": {
							"value": "@pipeline().parameters.entity_filter",
							"type": "Expression"
						},
						"rerun_successful_full_entities": {
							"value": "@pipeline().parameters.rerun_successful_full_entities",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Resume Synapse DWH",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_SYNDW_checkStatus",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Process ADLS and Synapse Ingestion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Resume Synapse DWH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_Base_ELT_main_v2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adhoc": {
							"value": "@pipeline().parameters.adhoc",
							"type": "Expression"
						},
						"entity_filter": {
							"value": "@pipeline().parameters.entity_filter",
							"type": "Expression"
						},
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"date": {
							"value": "@pipeline().parameters.date",
							"type": "Expression"
						},
						"rerun_successful_full_entities": {
							"value": "@pipeline().parameters.rerun_successful_full_entities",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Process Synapse Intm",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Send BASE Process ETL Success Mail",
						"dependencyConditions": [
							"Skipped",
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_SYNDW_Intm_process",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send BASE Process ETL Success Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process ADLS and Synapse Ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_etl_status_email_sending",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@activity('Process ADLS and Synapse Ingestion').output.pipelineRunId",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@activity('Process ADLS and Synapse Ingestion').output.pipelineName",
							"type": "Expression"
						},
						"isSuccessful": true,
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send BASE Process ETL Failure Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process ADLS and Synapse Ingestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_etl_status_email_sending",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@activity('Process ADLS and Synapse Ingestion').output.pipelineRunId",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@activity('Process ADLS and Synapse Ingestion').output.pipelineName",
							"type": "Expression"
						},
						"isSuccessful": false,
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send EDW Process ETL Success Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process Synapse EDW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_etl_status_email_sending",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@activity('Process Synapse EDW').output.pipelineRunId",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@activity('Process Synapse EDW').output.pipelineName",
							"type": "Expression"
						},
						"isSuccessful": true,
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"layer": "EDW"
					}
				}
			},
			{
				"name": "Send EDW Process ETL Failure Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process Synapse EDW",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_etl_status_email_sending",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@activity('Process Synapse EDW').output.pipelineRunId",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@activity('Process Synapse EDW').output.pipelineName",
							"type": "Expression"
						},
						"isSuccessful": false,
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"layer": "EDW"
					}
				}
			},
			{
				"name": "DummyUponSkip",
				"description": "Continue ",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Send EDW Process ETL Success Mail",
						"dependencyConditions": [
							"Succeeded",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dummy",
					"value": "dummy"
				}
			},
			{
				"name": "Process unload to SFTP",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process Synapse EDW",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_SYNDW_SFTP_process_main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adhoc": {
							"value": "@pipeline().parameters.adhoc",
							"type": "Expression"
						},
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"date": {
							"value": "@pipeline().parameters.date",
							"type": "Expression"
						},
						"entity_filter": {
							"value": "@pipeline().parameters.entity_filter",
							"type": "Expression"
						},
						"rerun_successful_full_entities": {
							"value": "@pipeline().parameters.rerun_successful_full_entities",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"adhoc": {
				"type": "int",
				"defaultValue": 0
			},
			"date": {
				"type": "string",
				"defaultValue": "2023/01/30"
			},
			"rerun_successful_full_entities": {
				"type": "int",
				"defaultValue": 0
			},
			"entity_filter": {
				"type": "string",
				"defaultValue": "'a' = 'a'"
			}
		},
		"variables": {
			"status": {
				"type": "String"
			},
			"dummy": {
				"type": "String"
			}
		},
		"folder": {
			"name": "10 Manage"
		},
		"annotations": [
			"Synapse Analytics"
		],
		"lastPublishTime": "2023-04-28T08:46:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}