azure-data-factory/pipeline/pl_child_daily_etl_process.json
{
	"name": "pl_child_daily_etl_process",
	"properties": {
		"description": "Starts or Stops Azure VM",
		"activities": [
			{
				"name": "Process Synapse EDW",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process Synapse Intm",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_SYNDW_EDW_process_main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adhoc": {
							"value": "@pipeline().parameters.adhoc",
							"type": "Expression"
						},
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"date": {
							"value": "@pipeline().parameters.date",
							"type": "Expression"
						},
						"entity_filter": {
							"value": "@pipeline().parameters.entity_filter",
							"type": "Expression"
						},
						"rerun_successful_full_entities": {
							"value": "@pipeline().parameters.rerun_successful_full_entities",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Resume Synapse DWH",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_SYNDW_checkStatus",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Process ADLS and Synapse Ingestion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Scale Up SQL Pool",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_Base_ELT_main_v2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adhoc": {
							"value": "@pipeline().parameters.adhoc",
							"type": "Expression"
						},
						"entity_filter": {
							"value": "@pipeline().parameters.entity_filter",
							"type": "Expression"
						},
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"date": {
							"value": "@pipeline().parameters.date",
							"type": "Expression"
						},
						"rerun_successful_full_entities": {
							"value": "@pipeline().parameters.rerun_successful_full_entities",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Process Synapse Intm",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Send BASE Process ETL Success Mail",
						"dependencyConditions": [
							"Skipped",
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_SYNDW_Intm_process",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Send BASE Process ETL Success Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process ADLS and Synapse Ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_etl_status_email_sending",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@activity('Process ADLS and Synapse Ingestion').output.pipelineRunId",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@activity('Process ADLS and Synapse Ingestion').output.pipelineName",
							"type": "Expression"
						},
						"isSuccessful": true,
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send BASE Process ETL Failure Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process ADLS and Synapse Ingestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_etl_status_email_sending",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@activity('Process ADLS and Synapse Ingestion').output.pipelineRunId",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@activity('Process ADLS and Synapse Ingestion').output.pipelineName",
							"type": "Expression"
						},
						"isSuccessful": false,
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send EDW Process ETL Success Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process Synapse EDW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_etl_status_email_sending",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@activity('Process Synapse EDW').output.pipelineRunId",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@activity('Process Synapse EDW').output.pipelineName",
							"type": "Expression"
						},
						"isSuccessful": true,
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"layer": "EDW"
					}
				}
			},
			{
				"name": "Send EDW Process ETL Failure Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process Synapse EDW",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_etl_status_email_sending",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@activity('Process Synapse EDW').output.pipelineRunId",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@activity('Process Synapse EDW').output.pipelineName",
							"type": "Expression"
						},
						"isSuccessful": false,
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"layer": "EDW"
					}
				}
			},
			{
				"name": "DummyUponSkip",
				"description": "Continue ",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Send EDW Process ETL Success Mail",
						"dependencyConditions": [
							"Succeeded",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dummy",
					"value": "dummy"
				}
			},
			{
				"name": "Process unload to SFTP",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process Synapse EDW",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_SYNDW_SFTP_process_main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adhoc": {
							"value": "@pipeline().parameters.adhoc",
							"type": "Expression"
						},
						"parent_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"date": {
							"value": "@pipeline().parameters.date",
							"type": "Expression"
						},
						"entity_filter": {
							"value": "@pipeline().parameters.entity_filter",
							"type": "Expression"
						},
						"rerun_successful_full_entities": {
							"value": "@pipeline().parameters.rerun_successful_full_entities",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Scale Up SQL Pool",
				"description": "To scale up the SQL Pool for the Daily Load",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Resume Synapse DWH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://management.azure.com/subscriptions/f199b488-7d9d-4992-aeda-c10a1e1c9b9e/resourceGroups/rg-xxxx-sls-d-euw-001/providers/Microsoft.Synapse/workspaces/ws-fbouw-d-euw-001/sqlPools/syndw_fbouw_d_euw_001?api-version=2021-04-01-preview",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "ir-WEXLEVAPP001",
						"type": "IntegrationRuntimeReference"
					},
					"method": "PUT",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"location": "westeurope",
						"sku": {
							"name": "DW400c"
						}
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "Scale Down SQL Pool",
				"description": "To scale Down the SQL Pool for the Daily Load",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Process Synapse EDW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://management.azure.com/subscriptions/f199b488-7d9d-4992-aeda-c10a1e1c9b9e/resourceGroups/rg-xxxx-sls-d-euw-001/providers/Microsoft.Synapse/workspaces/ws-fbouw-d-euw-001/sqlPools/syndw_fbouw_d_euw_001?api-version=2021-04-01-preview",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "ir-WEXLEVAPP001",
						"type": "IntegrationRuntimeReference"
					},
					"method": "PUT",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"location": "westeurope",
						"sku": {
							"name": "DW100c"
						}
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			}
		],
		"parameters": {
			"adhoc": {
				"type": "int",
				"defaultValue": 0
			},
			"date": {
				"type": "string",
				"defaultValue": "2023/01/30"
			},
			"rerun_successful_full_entities": {
				"type": "int",
				"defaultValue": 0
			},
			"entity_filter": {
				"type": "string",
				"defaultValue": "'a' = 'a'"
			}
		},
		"variables": {
			"status": {
				"type": "String"
			},
			"dummy": {
				"type": "String"
			}
		},
		"folder": {
			"name": "10 Manage"
		},
		"annotations": [
			"Synapse Analytics"
		],
		"lastPublishTime": "2023-04-28T08:46:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}