azure-data-factory/pipeline/pl_etl_status_email_sending.json
{
	"name": "pl_etl_status_email_sending",
	"properties": {
		"activities": [
			{
				"name": "If status success",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Email List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.isSuccessful",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Lookup Exceptions",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select\np.[pipeline_name_nk] as [pipeline_name],\ne.[entity_name],\nba.[activity_nk] as [batch_activity],\n[category_nk] as [error_category],\n[error_message]\n\tfrom [dbo].[exception] ex\n\tjoin [dbo].[error_category] erc on erc.[error_category_id] = ex.[error_category_id]\n\tleft join [dbo].[batch] b on ex.[batch_id] = b.[batch_id]\n\tleft join [dbo].[entity] e on e.[entity_id] = b.[entity_id]\n\tleft join [dbo].[batch_execution_status] bs on bs.[status_id] = b.[status_id]\n\tleft join [dbo].[batch_activity] ba on ba.activity_id = b.activity_id\n\tleft join [dbo].[pipeline_log] lex on lex.[run_id] = ex.[run_id]\n\tleft join [dbo].[pipeline] p on p.[pipeline_id] = lex.[pipeline_id]\n\twhere lex.[parent_run_id] = '@{pipeline().parameters.parent_run_id}'\norder by [error_timestamp]",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_orch_db",
									"type": "DatasetReference",
									"parameters": {
										"sqlDb": {
											"value": "@pipeline().globalParameters.sqlDb",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set Email Message",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup Exceptions",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "emailMessage",
								"value": {
									"value": "@replace(\n    string(\n        activity('Lookup Email List').output.value\n    )\n    ,'\"',''\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set color",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "color",
								"value": "Red"
							}
						},
						{
							"name": "Set Email Title",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "emailTitle",
								"value": "PIPELINE RUN IS FAILED"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Email Title Success",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "emailTitle",
								"value": {
									"value": "@toUpper(variables('emailMessage'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup Email List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "  SELECT STRING_AGG([email_address],';') [EmailTo] \n  FROM [dbo].[recipient_email_address]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_orch_db",
						"type": "DatasetReference",
						"parameters": {
							"sqlDb": {
								"value": "@pipeline().globalParameters.sqlDb",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Send Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If status success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-59.westeurope.logic.azure.com:443/workflows/f2ad36b624fd43bd85a5543f194ccd26/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=WD2chZlXpiB7w0Z4ogJFxYXPt4VuxVib-g2ZlscCc0A",
					"method": "POST",
					"body": {
						"value": "{\n\t\"Subject\": \"CRH: ETL Status\",\n\t\"Title\": \"@{variables('emailTitle')}\",\n\t\"Message\": \"@{variables('emailMessage')}\",\n\t\"EmailTo\": \"@{activity('Lookup Email List').output.value[0].EmailTo}\",\n\t\"Color\": \"@{variables('color')}\",\n\t\"DataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"PipelineName\": \"@{pipeline().parameters.PipelineName}\",\n\t\"PipelineRunId\": \"@{pipeline().parameters.PipelineRunId}\",\n\t\"UTCTime\": \"@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"PipelineRunId": {
				"type": "string"
			},
			"PipelineName": {
				"type": "string"
			},
			"isSuccessful": {
				"type": "bool"
			},
			"parent_run_id": {
				"type": "string"
			}
		},
		"variables": {
			"emailMessage": {
				"type": "String",
				"defaultValue": "Pipeline run is finished successfully"
			},
			"color": {
				"type": "String",
				"defaultValue": "Green"
			},
			"emailTitle": {
				"type": "String"
			}
		},
		"folder": {
			"name": "90 Utilities/Email"
		},
		"annotations": [
			"Synapse Analytics"
		],
		"lastPublishTime": "2021-10-25T15:25:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}