azure-data-factory/pipeline/pl_etl_status_email_sending.json
{
	"name": "pl_etl_status_email_sending",
	"properties": {
		"activities": [
			{
				"name": "If status success",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.isSuccessful",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Lookup Exceptions",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT\n\tp.[pipeline_name_nk] as [pipeline_name],\n\te.[entity_name],\n\tba.[activity_nk] as [batch_activity],\n\t[category_nk] as [error_category],\n\t[error_message]\nFROM\n\t[dbo].[exception] ex\nINNER JOIN\n\t[dbo].[error_category] erc\n\tON\n\t\terc.[error_category_id] = ex.[error_category_id]\nLEFT JOIN\n\t[dbo].[batch] b\n\tON\n\t\tex.[batch_id] = b.[batch_id]\nLEFT JOIN\n\t[dbo].[entity] e\n\tON\n\t\te.[entity_id] = b.[entity_id]\nLEFT JOIN\n\t[dbo].[batch_execution_status] bs\n\tON\n\t\tbs.[status_id] = b.[status_id]\nLEFT JOIN\n\t[dbo].[batch_activity] ba\n\tON\n\t\tba.activity_id = b.activity_id\nLEFT JOIN\n\t[dbo].[pipeline_log] lex\n\tON\n\t\tlex.[run_id] = ex.[run_id]\nLEFT JOIN\n\t[dbo].[pipeline] p\n\tON\n\t\tp.[pipeline_id] = lex.[pipeline_id]\nWHERE\n\tlex.[parent_run_id] = '@{pipeline().parameters.parent_run_id}'\n\tAND\n\tp.pipeline_name_nk LIKE '%@{pipeline().parameters.layer}%'\nORDER BY\n\t[error_timestamp]",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_orch_db",
									"type": "DatasetReference",
									"parameters": {
										"sqlDb": {
											"value": "@pipeline().globalParameters.sqlDb",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set Email Message",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup Exceptions",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "emailMessage",
								"value": {
									"value": "@replace(\n    string(\n        activity('Lookup Exceptions').output.value\n    )\n    ,'\"',''\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set color",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "color",
								"value": "Red"
							}
						},
						{
							"name": "Set Email Title",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "emailTitle",
								"value": "PIPELINE RUN IS FAILED"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Email Title Success",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "emailTitle",
								"value": {
									"value": "@toUpper(variables('emailMessage'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Send Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If status success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-59.westeurope.logic.azure.com:443/workflows/f2ad36b624fd43bd85a5543f194ccd26/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=WD2chZlXpiB7w0Z4ogJFxYXPt4VuxVib-g2ZlscCc0A",
					"method": "POST",
					"body": {
						"value": "{\n\t\"Subject\": \"Leviat: DnA Synapse @{pipeline().parameters.layer} ETL Status\",\n\t\"Title\": \"@{variables('emailTitle')}\",\n\t\"Message\": \"@{variables('emailMessage')}\",\n\t\"Color\": \"@{variables('color')}\",\n\t\"DataFactoryName\": \"@{pipeline().DataFactory}\",\n\t\"PipelineName\": \"@{pipeline().parameters.PipelineName}\",\n\t\"PipelineRunId\": \"@{pipeline().parameters.PipelineRunId}\",\n\t\"UTCTime\": \"@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"PipelineRunId": {
				"type": "string"
			},
			"PipelineName": {
				"type": "string"
			},
			"isSuccessful": {
				"type": "bool",
				"defaultValue": true
			},
			"parent_run_id": {
				"type": "string"
			},
			"layer": {
				"type": "string",
				"defaultValue": "Base"
			}
		},
		"variables": {
			"emailMessage": {
				"type": "String",
				"defaultValue": "Pipeline run is finished successfully"
			},
			"color": {
				"type": "String",
				"defaultValue": "Green"
			},
			"emailTitle": {
				"type": "String"
			}
		},
		"folder": {
			"name": "90 Utilities/Email"
		},
		"annotations": [
			"Synapse Analytics"
		],
		"lastPublishTime": "2021-10-25T15:25:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}