azure-data-factory/pipeline/pl_MEC_child.json
{
	"name": "pl_MEC_child",
	"properties": {
		"activities": [
			{
				"name": "For Each File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get files').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Run flat-files - csv pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ADLS_SYNDW_flat-files-csv",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.container",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.directory",
										"type": "Expression"
									},
									"file_name": {
										"value": "@item().name",
										"type": "Expression"
									},
									"field_delimiter": ";",
									"base_schema_name": {
										"value": "@concat('base_',replace(pipeline().parameters.container,'-','_'))",
										"type": "Expression"
									},
									"base_table_name": {
										"value": "@replace(substring(item().name,0,indexof(item().name,'-')),'-','')",
										"type": "Expression"
									},
									"applicationId": {
										"value": "@pipeline().parameters.container",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.directory",
								"type": "Expression"
							},
							"file_name": "/",
							"field_delimiter": ";",
							"storageAccount": {
								"value": "@pipeline().globalParameters.storageAccountName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"directory": {
				"type": "string",
				"defaultValue": "2023-08"
			},
			"container": {
				"type": "string"
			}
		},
		"variables": {
			"container": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MEC"
		},
		"annotations": []
	}
}