azure-data-factory/pipeline/pl_main_daily_etl_process_s4h.json
{
	"name": "pl_main_daily_etl_process_s4h",
	"properties": {
		"activities": [
			{
				"name": "act_exec_pl_child_daily_etl_process_s4h",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_child_daily_etl_process_s4h",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adhoc": {
							"value": "@pipeline().parameters.adhoc",
							"type": "Expression"
						},
						"manual_run": {
							"value": "@pipeline().parameters.manual_run",
							"type": "Expression"
						},
						"date": {
							"value": "@pipeline().parameters.date",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "act_exec_pl_etl_status_email_sending_failure",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "act_exec_pl_child_daily_etl_process_s4h",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_etl_status_email_sending",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@activity('act_exec_pl_child_daily_etl_process_s4h').output.pipelineRunId",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@activity('act_exec_pl_child_daily_etl_process_s4h').output.pipelineName",
							"type": "Expression"
						},
						"status": "failed",
						"parent_run_id": {
							"value": "@activity('act_exec_pl_child_daily_etl_process_s4h').output.pipelineRunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "act_exec_pl_etl_status_email_sending_success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "act_exec_pl_child_daily_etl_process_s4h",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_etl_status_email_sending",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineRunId": {
							"value": "@activity('act_exec_pl_child_daily_etl_process_s4h').output.pipelineRunId",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@activity('act_exec_pl_child_daily_etl_process_s4h').output.pipelineName",
							"type": "Expression"
						},
						"status": "succeeded",
						"parent_run_id": {
							"value": "@activity('act_exec_pl_child_daily_etl_process_s4h').output.pipelineRunId",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"adhoc": {
				"type": "int",
				"defaultValue": 0
			},
			"manual_run": {
				"type": "int",
				"defaultValue": 0
			},
			"date": {
				"type": "string"
			}
		},
		"folder": {
			"name": "10 Manage"
		},
		"annotations": [
			"Synapse Analytics"
		],
		"lastPublishTime": "2021-10-25T15:25:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}