azure-data-factory/pipeline/pl_MEC_ingest_main.json
{
	"name": "pl_MEC_ingest_main",
	"properties": {
		"activities": [
			{
				"name": "Get list of containers name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "month-end-closure-companies",
							"directory": "/",
							"file_name": "month-end-closure-companies.txt",
							"field_delimiter": ";",
							"storageAccount": {
								"value": "@pipeline().globalParameters.storageAccountName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Company",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get list of containers name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get list of containers name').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Run child pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_MEC_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"directory": {
										"value": "@pipeline().parameters.directory",
										"type": "Expression"
									},
									"container": {
										"value": "@item().container_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"directory": {
				"type": "string",
				"defaultValue": "2023-08"
			}
		},
		"variables": {
			"container": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MEC"
		},
		"annotations": []
	}
}