azure-data-factory/pipeline/pl_main_daily_etl_process.json
{
	"name": "pl_main_daily_etl_process",
	"properties": {
		"activities": [
			{
				"name": "Process ETL",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_child_daily_etl_process",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adhoc": {
							"value": "@pipeline().parameters.adhoc",
							"type": "Expression"
						},
						"date": {
							"value": "@pipeline().parameters.date",
							"type": "Expression"
						},
						"rerun_successful_full_entities": {
							"value": "@pipeline().parameters.rerun_successful_full_entities",
							"type": "Expression"
						},
						"entity_filter": {
							"value": "@pipeline().parameters.entity_filter",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Refresh PBI Datasets",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_PBI_datasetRefresh_main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adhoc": {
							"value": "@pipeline().parameters.adhoc",
							"type": "Expression"
						},
						"pbi_entity_filter": {
							"value": "@pipeline().parameters.pbi_entity_filter",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send PBI Refresh Success Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Refresh PBI Datasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_pbi_refresh_status_email_sending",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"status": "succeeded",
						"PipelineRunId": {
							"value": "@activity('Refresh PBI Datasets').output.pipelineRunId",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@activity('Refresh PBI Datasets').output.pipelineName",
							"type": "Expression"
						},
						"parent_run_id": {
							"value": "@activity('Refresh PBI Datasets').output.pipelineRunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send PBI Refresh Failure Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Refresh PBI Datasets",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_pbi_refresh_status_email_sending",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"status": "failed",
						"PipelineRunId": {
							"value": "@activity('Refresh PBI Datasets').output.pipelineRunId",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@activity('Refresh PBI Datasets').output.pipelineName",
							"type": "Expression"
						},
						"parent_run_id": {
							"value": "@activity('Refresh PBI Datasets').output.pipelineRunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Materialiazing DQ in synapse",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Process ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_SYNDW_DQ_process_main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"parent_run_id": {
							"value": "@activity('Process ETL').output.pipelineRunId",
							"type": "Expression"
						},
						"adhoc": {
							"value": "@pipeline().parameters.adhoc",
							"type": "Expression"
						},
						"date": {
							"value": "@pipeline().parameters.date",
							"type": "Expression"
						},
						"entity_filter": {
							"value": "@pipeline().parameters.entity_filter",
							"type": "Expression"
						},
						"rerun_successful_full_entities": {
							"value": "@pipeline().parameters.rerun_successful_full_entities",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Refresh PBI DQ Datasets",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Materialiazing DQ in synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_PBI_datasetRefresh_main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"adhoc": {
							"value": "@pipeline().parameters.adhoc",
							"type": "Expression"
						},
						"pbi_entity_filter": "WHERE dataset_name = 'Master Data Quality Checks'"
					}
				}
			}
		],
		"parameters": {
			"adhoc": {
				"type": "int",
				"defaultValue": 0
			},
			"date": {
				"type": "string"
			},
			"rerun_successful_full_entities": {
				"type": "int",
				"defaultValue": 0
			},
			"entity_filter": {
				"type": "string",
				"defaultValue": "'a' = 'a'"
			},
			"pbi_entity_filter": {
				"type": "string",
				"defaultValue": "where 'a' = 'a'"
			}
		},
		"folder": {
			"name": "10 Manage"
		},
		"annotations": [
			"Synapse Analytics"
		],
		"lastPublishTime": "2021-10-25T15:25:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}