azure-data-factory/pipeline/pl_MEC_ingest_main.json
{
	"name": "pl_MEC_ingest_main",
	"properties": {
		"activities": [
			{
				"name": "Get list of containers name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get list of containers name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get list of containers name').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Run child pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set variable for containers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true,
								"parameters": {
									"container": {
										"value": "@variables('container')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set variable for containers",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "container",
								"value": {
									"value": "@item().container_name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"directory": {
				"type": "string",
				"defaultValue": "2023-08"
			}
		},
		"variables": {
			"container": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MEC"
		},
		"annotations": []
	}
}