azure-data-factory/pipeline/pl_SYNDW_EDW_process_entity.json
{
	"name": "pl_SYNDW_EDW_process_entity",
	"properties": {
		"activities": [
			{
				"name": "If Generic OR Custom SP",
				"description": "If to be executed procedure is sp_materialize_view, additional parameters are required to provide source view and destination table.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\n    pipeline().parameters.sproc_name,\n    'sp_materialize_view'\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "act_sproc_LoadBaseToEDWLayer",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set Exception Category",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@{Concat(pipeline().parameters.sproc_schema_name, '.', pipeline().parameters.sproc_name)}",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"t_jobBy": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"t_jobDtm": {
										"value": {
											"value": "@formatDateTime(utcnow(),'yyyy/MM/dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"t_jobId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"t_lastActionCd": {
										"value": "I",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_ws_xxxx_sls_x_euw_001__syndw_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set Activity",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "activity",
								"value": "BasetoEDWExecCustomSP"
							}
						},
						{
							"name": "Set Exception Category",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Activity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "exception",
								"value": "FailedEDWCustomSP"
							}
						},
						{
							"name": "Log Exception for Custom Materialized EDW Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "act_sproc_LoadBaseToEDWLayer",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[log_exception]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@variables('batch_id')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"category": {
										"value": {
											"value": "@variables('exception')",
											"type": "Expression"
										},
										"type": "String"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"error_msg": {
										"value": {
											"value": "@activity('act_sproc_LoadBaseToEDWLayer').Error.Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.run_id",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CustomSPFailure",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Log Exception for Custom Materialized EDW Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@{Concat('Custom SP ',pipeline().parameters.sproc_schema_name, '.', pipeline().parameters.sproc_name,' for loading ',pipeline().parameters.entity_name,' entity failed')}",
									"type": "Expression"
								},
								"errorCode": "CustomSPFailure"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "act_sproc_materialize_view",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@{Concat(pipeline().parameters.sproc_schema_name, '.', pipeline().parameters.sproc_name)}",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"DestSchema": {
										"value": {
											"value": "@pipeline().parameters.dest_schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"DestTable": {
										"value": {
											"value": "@pipeline().parameters.dest_table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceSchema": {
										"value": {
											"value": "@pipeline().parameters.source_schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceView": {
										"value": {
											"value": "@pipeline().parameters.source_view_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"t_jobBy": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"t_jobDtm": {
										"value": {
											"value": "@formatDateTime(utcnow(),'yyyy/MM/dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"t_jobId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"t_lastActionCd": {
										"value": "I",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_ws_xxxx_sls_x_euw_001__syndw_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log Exception for Generic Materialized EDW Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "act_sproc_materialize_view",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[log_exception]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@variables('batch_id')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"category": {
										"value": {
											"value": "@variables('exception')",
											"type": "Expression"
										},
										"type": "String"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"error_msg": {
										"value": {
											"value": "@activity('act_sproc_materialize_view').Error.Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.run_id",
											"type": "Expression"
										},
										"type": "Guid"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "GenericSPFailure",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Log Exception for Generic Materialized EDW Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@{Concat('Generic SP ',pipeline().parameters.sproc_schema_name, '.', pipeline().parameters.sproc_name,' for loading ',pipeline().parameters.entity_name,' entity failed')}",
									"type": "Expression"
								},
								"errorCode": "GenericSPFailure"
							}
						}
					]
				}
			},
			{
				"name": "Set Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[set_batch]",
					"storedProcedureParameters": {
						"activity": {
							"value": "InEDWLayer",
							"type": "String"
						},
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"file_path": {
							"value": null,
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"size_bytes": {
							"value": null,
							"type": "Int64"
						},
						"source_layer": {
							"value": {
								"value": "@pipeline().parameters.source_layer",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "InProgress",
							"type": "String"
						},
						"target_layer": {
							"value": {
								"value": "@pipeline().parameters.target_layer",
								"type": "Expression"
							},
							"type": "String"
						},
						"start_date_time": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Batch Status to Successful",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update EDW Table Statistics",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_batch_status]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"end_date_time": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"size_bytes": {
							"value": null,
							"type": "Int64"
						},
						"activity": {
							"value": {
								"value": "@variables('activity')",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "Succeeded",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Batch Status to Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If Generic OR Custom SP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_batch_status]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"end_date_time": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"activity": {
							"value": {
								"value": "@variables('activity')",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "Failed",
							"type": "String"
						},
						"size_bytes": {
							"value": null,
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update EDW Table Statistics",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If Generic OR Custom SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_SYNDW_updateTableStats",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"schema": {
							"value": "@pipeline().parameters.dest_schema_name",
							"type": "Expression"
						},
						"table": {
							"value": "@pipeline().parameters.dest_table_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Update Batch Status to Failed_2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log Exception for Updating EDW Table Stats",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_batch_status]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"end_date_time": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"activity": {
							"value": {
								"value": "@variables('activity')",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "Failed",
							"type": "String"
						},
						"size_bytes": {
							"value": null,
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Exception for Updating EDW Table Stats",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update EDW Table Statistics",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[log_exception]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"category": {
							"value": "InternalError",
							"type": "String"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"error_msg": {
							"value": {
								"value": "@activity('Update EDW Table Statistics').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"sproc_schema_name": {
				"type": "string"
			},
			"sproc_name": {
				"type": "string"
			},
			"source_schema_name": {
				"type": "string"
			},
			"source_view_name": {
				"type": "string"
			},
			"dest_schema_name": {
				"type": "string"
			},
			"dest_table_name": {
				"type": "string"
			},
			"entity_id": {
				"type": "string"
			},
			"run_id": {
				"type": "string"
			},
			"source_layer": {
				"type": "string"
			},
			"target_layer": {
				"type": "string"
			},
			"entity_name": {
				"type": "string"
			}
		},
		"variables": {
			"batch_id": {
				"type": "String",
				"defaultValue": "@guid()"
			},
			"activity": {
				"type": "String",
				"defaultValue": "BasetoEDWExecGenericSP"
			},
			"exception": {
				"type": "String",
				"defaultValue": "FailedEDWGenericSP"
			}
		},
		"folder": {
			"name": "05 Synapse Transformation/02 EDW"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-25T15:24:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}