azure-data-factory/pipeline/pl_SYNDW_Base_process.json
{
	"name": "pl_SYNDW_Base_process",
	"properties": {
		"activities": [
			{
				"name": "Log Exception",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update Delta Active Table",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[log_exception]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"category": {
							"value": "FailedProcessBase",
							"type": "String"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"error_msg": {
							"value": {
								"value": "@activity('Update Delta Active Table').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference",
					"parameters": {
						"sqlDb": {
							"value": "@pipeline().globalParameters.sqlDb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set batches",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.deltaFiles",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Batch ProcessBase",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set batch_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[set_batch]",
								"storedProcedureParameters": {
									"activity": {
										"value": "ProcessBase",
										"type": "String"
									},
									"batch_id": {
										"value": {
											"value": "@variables('batch_id')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"file_name": {
										"value": {
											"value": "@item().adlsFileName",
											"type": "Expression"
										},
										"type": "String"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.run_id",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"size_bytes": {
										"value": null,
										"type": "Int64"
									},
									"source_layer": {
										"value": {
											"value": "Base",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "InProgress",
										"type": "String"
									},
									"target_layer": {
										"value": {
											"value": "Base",
											"type": "Expression"
										},
										"type": "String"
									},
									"start_date_time": {
										"value": {
											"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"directory_path": {
										"value": {
											"value": "@item().directoryPath",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference",
								"parameters": {
									"sqlDb": {
										"value": "@pipeline().globalParameters.sqlDb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set batch_id",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "batch_id",
								"value": {
									"value": "@guid()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append batch to list",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set batch_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "batches_list",
								"value": {
									"value": "@variables('batch_id')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Update all batches",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Update Delta Active Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('batches_list')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Update Batch Status Succeeded",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_batch_status]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"end_date_time": {
										"value": {
											"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.run_id",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"size_bytes": {
										"value": null,
										"type": "Int64"
									},
									"status": {
										"value": "Succeeded",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference",
								"parameters": {
									"sqlDb": {
										"value": "@pipeline().globalParameters.sqlDb",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Update failed batches",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Log Exception",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('batches_list')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Update Batch Status Succeeded_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_batch_status]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"end_date_time": {
										"value": {
											"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"entity_id": {
										"value": {
											"value": "@pipeline().parameters.entity_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"run_id": {
										"value": {
											"value": "@pipeline().parameters.run_id",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"size_bytes": {
										"value": null,
										"type": "Int64"
									},
									"status": {
										"value": "Failed",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
								"type": "LinkedServiceReference",
								"parameters": {
									"sqlDb": {
										"value": "@pipeline().globalParameters.sqlDb",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Update Delta Active Table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set batches",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[utilities].[up_process_delta]",
					"storedProcedureParameters": {
						"schema_name": {
							"value": {
								"value": "@pipeline().parameters.base_schema_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"delta_view_name": {
							"value": {
								"value": "@concat(\n    'vw_',\n    pipeline().parameters.base_table_name,\n    '_delta'\n)",
								"type": "Expression"
							},
							"type": "String"
						},
						"active_table_name": {
							"value": {
								"value": "@concat(\n    pipeline().parameters.base_table_name,\n    '_active'\n)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_ws_xxxx_sls_x_euw_001__syndw_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference",
					"parameters": {
						"sqlPool": {
							"value": "@pipeline().globalParameters.synapseDatabaseName",
							"type": "Expression"
						},
						"synapseServer": {
							"value": "@pipeline().globalParameters.synapseServerName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Post Process Delta Entity",
				"description": "Copy the data into INTM for follow-up processing.\n\nTruncate the BASE delta table to indicate delta processing in base layer is successful.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update Delta Active Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[base_s4h_cax].[up_delta_postprocessing]",
					"storedProcedureParameters": {
						"source_schema": {
							"value": {
								"value": "@pipeline().parameters.base_schema_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"source_table": {
							"value": {
								"value": "@variables('deltaTableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"target_schema": {
							"value": "intm_s4h",
							"type": "String"
						},
						"target_table": {
							"value": {
								"value": "@variables('deltaTableName')",
								"type": "Expression"
							},
							"type": "String"
						},
						"t_jobBy": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"t_jobDtm": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy/MM/dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"t_jobId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"t_lastActionCd": {
							"value": "I",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_ws_xxxx_sls_x_euw_001__syndw_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference",
					"parameters": {
						"sqlPool": {
							"value": "@pipeline().globalParameters.synapseDatabaseName",
							"type": "Expression"
						},
						"synapseServer": {
							"value": "@pipeline().globalParameters.synapseServerName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"base_schema_name": {
				"type": "string"
			},
			"base_table_name": {
				"type": "string"
			},
			"base_sproc_name": {
				"type": "string"
			},
			"entity_id": {
				"type": "string"
			},
			"run_id": {
				"type": "string"
			},
			"source_date_field_name": {
				"type": "string"
			},
			"deltaFiles": {
				"type": "array"
			}
		},
		"variables": {
			"batch_id": {
				"type": "String"
			},
			"batches_list": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "00 ELT/05 Synapse Transformation/01 Base"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-25T15:24:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}