azure-data-factory/pipeline/pl_SYNDW_Intm_process.json
{
	"name": "pl_SYNDW_Intm_process",
	"properties": {
		"description": "Exec sproc to collect sales",
		"activities": [
			{
				"name": "Set P_Year ",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "P_Year",
					"value": {
						"value": "@activity('Lookup Parameters').output.firstRow",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup Parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "utilities",
							"directory": "parameters",
							"file_name": "parameters.csv",
							"field_delimiter": ";",
							"storageAccount": "stsleshchukdeuw001"
						}
					},
					"firstRowOnly": true
				}
			}
		],
		"variables": {
			"P_Year": {
				"type": "String"
			}
		},
		"folder": {
			"name": "00 ELT/05 Synapse Transformation/04 INTM"
		},
		"annotations": []
	}
}