azure-data-factory/pipeline/pl_SYNDW_Intm_process.json
{
	"name": "pl_SYNDW_Intm_process",
	"properties": {
		"description": "Exec sproc to collect sales",
		"activities": [
			{
				"name": "Process Intm",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set P_Year ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "intm_axbi.up_CollectSales_CA",
					"storedProcedureParameters": {
						"P_Year": {
							"value": {
								"value": "@pipeline().parameters.P_Year",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_Month": {
							"value": {
								"value": "@pipeline().parameters.P_Month",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_DelNotInv": {
							"value": {
								"value": "@pipeline().parameters.P_DelNotInv",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_ws_xxxx_sls_x_euw_001__syndw_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference",
					"parameters": {
						"sqlPool": {
							"value": "@pipeline().globalParameters.synapseDatabaseName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Lookup Parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "utilities",
							"directory": "parameters",
							"file_name": "parameters.csv",
							"field_delimiter": ";",
							"storageAccount": "stsleshchukdeuw001"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set P_Year ",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "P_Year",
					"value": {
						"value": "@activity('Lookup Parameters').output.firstRow.P_Year",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"P_Year": {
				"type": "int"
			},
			"P_Month": {
				"type": "int"
			},
			"P_DelNotInv": {
				"type": "string"
			}
		},
		"variables": {
			"P_Year": {
				"type": "String"
			},
			"P_Month": {
				"type": "String"
			},
			"jkj": {
				"type": "String"
			},
			"P_DelNotInv": {
				"type": "String"
			}
		},
		"folder": {
			"name": "00 ELT/05 Synapse Transformation/04 INTM"
		},
		"annotations": []
	}
}