azure-data-factory/pipeline/pl_SYNDW_DQ_process_batch.json
{
	"name": "pl_SYNDW_DQ_process_batch",
	"properties": {
		"activities": [
			{
				"name": "Materialize Generic View",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@concat(\n    '[',\n    pipeline().parameters.sproc_schema_name,\n    '].[',\n    pipeline().parameters.sproc_name,\n    ']'\n)",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"DestSchema": {
							"value": {
								"value": "@pipeline().parameters.dest_schema_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"DestTable": {
							"value": {
								"value": "@pipeline().parameters.dest_table_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceSchema": {
							"value": {
								"value": "@pipeline().parameters.source_schema_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceView": {
							"value": {
								"value": "@pipeline().parameters.source_view_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"t_jobBy": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"t_jobDtm": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy/MM/dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"t_jobId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"t_lastActionCd": {
							"value": "I",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_ws_xxxx_sls_x_euw_001__syndw_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Exception for Generic Materialized EDW Table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Materialize Generic View",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[log_exception]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('batch_id')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"category": {
							"value": {
								"value": "@variables('exception')",
								"type": "Expression"
							},
							"type": "String"
						},
						"entity_id": {
							"value": {
								"value": "@pipeline().parameters.entity_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"error_msg": {
							"value": {
								"value": "@activity('Materialize Generic View').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().parameters.run_id",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GenericSPFailure",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Log Exception for Generic Materialized EDW Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@{Concat('Generic SP ',pipeline().parameters.sproc_schema_name, '.', pipeline().parameters.sproc_name,' for loading ',pipeline().parameters.entity_name,' entity failed')}",
						"type": "Expression"
					},
					"errorCode": "GenericSPFailure"
				}
			}
		],
		"parameters": {
			"sproc_schema_name": {
				"type": "string"
			},
			"sproc_name": {
				"type": "string"
			},
			"source_schema_name": {
				"type": "string"
			},
			"source_view_name": {
				"type": "string"
			},
			"dest_schema_name": {
				"type": "string"
			},
			"dest_table_name": {
				"type": "string"
			},
			"entity_id": {
				"type": "string"
			},
			"run_id": {
				"type": "string"
			}
		},
		"variables": {
			"batch_id": {
				"type": "String",
				"defaultValue": "@guid()"
			}
		},
		"folder": {
			"name": "00 ELT/05 Synapse Transformation/03 DQ"
		},
		"annotations": []
	}
}