azure-data-factory/pipeline/pl_SYNDW_Base_process_main.json
{
	"name": "pl_SYNDW_Base_process_main",
	"properties": {
		"activities": [
			{
				"name": "act_exec_sproc_start_log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[set_pipeline_log]",
					"storedProcedureParameters": {
						"message": {
							"value": {
								"value": "@{pipeline().TriggerType} execution triggered at @{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"start_date_time": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"status": {
							"value": "InProgress",
							"type": "String"
						},
						"user_name": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"parent_run_id": {
							"value": {
								"value": "@pipeline().parameters.parent_run_id",
								"type": "Expression"
							}
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "act_lookup_get_extractions_delta_S4HToBlobIn",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_exec_sproc_start_log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM [dbo].[get_entities_ProcessBaseLayer]\n (\n @{pipeline().parameters.adhoc},\n @{pipeline().parameters.manual_run},\n '@{pipeline().parameters.date}'\n )",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_orch_db",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_foreach_Load_Delta_InBaseLayer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_lookup_get_extractions_delta_S4HToBlobIn",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_lookup_get_extractions_delta_S4HToBlobIn').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "pl_syndw_load_delta_s4h",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_SYNDW_Base_process",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"base_schema_name": {
										"value": "@item().base_schema_name",
										"type": "Expression"
									},
									"base_table_name": {
										"value": "@item().base_table_name",
										"type": "Expression"
									},
									"base_sproc_name": {
										"value": "@item().base_sproc_name",
										"type": "Expression"
									},
									"entity_id": {
										"value": "@item().entity_id",
										"type": "Expression"
									},
									"run_id": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "act_exec_sproc_log_exception_InBaseLayer",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "act_lookup_get_extractions_delta_S4HToBlobIn",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[log_exception]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": null,
							"type": "Guid"
						},
						"category": {
							"value": "InternalError",
							"type": "String"
						},
						"entity_id": {
							"value": null,
							"type": "Int64"
						},
						"error_msg": {
							"value": {
								"value": "@activity('act_lookup_get_extractions_delta_S4HToBlobIn').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "act_exec_log_failure_InternalError_InBaseLayer",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "act_exec_sproc_log_exception_InBaseLayer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[change_status_pipeline_log]",
					"storedProcedureParameters": {
						"end_date_time": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"message": {
							"value": {
								"value": "Execution Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "act_exec_sproc_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "act_foreach_Load_Delta_InBaseLayer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[change_status_pipeline_log]",
					"storedProcedureParameters": {
						"end_date_time": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"message": {
							"value": {
								"value": "Finished successfully",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"status": {
							"value": {
								"value": "Succeeded",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "act_exec_log_failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "act_foreach_Load_Delta_InBaseLayer",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[change_status_pipeline_log]",
					"storedProcedureParameters": {
						"end_date_time": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"message": {
							"value": {
								"value": "Execution Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqlsrv_xxxx_sls_x_euw_001__sqldb_xxxx_sls_x_euw_001",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"parent_run_id": {
				"type": "string"
			},
			"adhoc": {
				"type": "int",
				"defaultValue": 1
			},
			"manual_run": {
				"type": "int",
				"defaultValue": 1
			},
			"date": {
				"type": "string"
			}
		},
		"folder": {
			"name": "00 ELT/05 Synapse Transformation/01 Base"
		},
		"annotations": []
	}
}