azure-data-factory/pipeline/Test_Parameters.json
{
	"name": "Test_Parameters",
	"properties": {
		"activities": [
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Parameters for Runs_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Parameters",
					"value": {
						"value": "@string(activity('Get Parameters for Runs_copy1').output.parameters)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Parameters for Runs_copy1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@CONCAT('https://management.azure.com/subscriptions/','f199b488-7d9d-4992-aeda-c10a1e1c9b9e','/resourceGroups/', pipeline().globalParameters.resourceGroupName,'/providers/Microsoft.DataFactory/factories/', pipeline().DataFactory,'/pipelineruns/','ee52fa74-761a-4ca3-8fee-da73aade2cc4', '?api-version=2018-06-01')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.core.windows.net/"
					}
				}
			}
		],
		"variables": {
			"run_id": {
				"type": "String"
			},
			"Parameters": {
				"type": "String"
			}
		},
		"annotations": []
	}
}